In [50]:
import pandas as pd
import numpy as np
import datetime as dt
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

In [51]:
results = pd.read_pickle("../data/results.pkl")

In [52]:
def convert_to_milliseconds(time_str):
    try:
        minutes, seconds_and_milliseconds = time_str.split(':')
        seconds, milliseconds = seconds_and_milliseconds.split('.')
        minutes = int(minutes)
        seconds = int(seconds)
        milliseconds = int(milliseconds)
        total_milliseconds = (minutes * 60 + seconds) * 1000 + milliseconds
        return total_milliseconds
    except:
        return None

In [53]:
results = results[results["year"] > 2003]

In [57]:
results.to_pickle("../data/results_after_2003.pkl")

In [54]:
results["fastestLapTime_milliseconds"] = results["fastestLapTime"].apply(convert_to_milliseconds)

In [55]:
results["fastestLapTime_milliseconds"].value_counts(dropna = False)

NaN         356
78262.0       4
103026.0      4
78904.0       4
77495.0       4
           ...
91167.0       1
90573.0       1
90108.0       1
90279.0       1
113138.0      1
Name: fastestLapTime_milliseconds, Length: 6970, dtype: int64

In [58]:
data_prep = results[[
    "raceId",
    "driverId",
    "constructorId",
    "number_driver",
    "grid",
    "position",
    "laps",
    "milliseconds",
    "fastestLap",
    "rank",
    "fastestLapTime_milliseconds", #CONVERT IT TO FLOAT
    "fastestLapSpeed",
    "statusId",
    "year",
    "round",
    "circuitId"
]]

In [59]:
data_prep.head()

,raceId,driverId,constructorId,number_driver,grid,position,laps,milliseconds,fastestLap,rank,fastestLapTime_milliseconds,fastestLapSpeed,statusId,year,round,circuitId
0,18,1,1,22.0,1.0,1.0,58.0,5690616,39.0,2.0,87452.0,218.300,1.0,2008.0,1.0,1.0
1,18,2,2,3.0,5.0,2.0,58.0,5696094,41.0,3.0,87739.0,217.586,1.0,2008.0,1.0,1.0
2,18,3,3,7.0,7.0,3.0,58.0,5698779,41.0,5.0,88090.0,216.719,1.0,2008.0,1.0,1.0
3,18,4,4,5.0,11.0,4.0,58.0,5707797,58.0,7.0,88603.0,215.464,1.0,2008.0,1.0,1.0
4,18,5,1,23.0,3.0,5.0,58.0,5708630,43.0,1.0,87418.0,218.385,1.0,2008.0,1.0,1.0

In [32]:
column = iter(data_prep.columns)

In [31]:
data_prep["constructorId"].value_counts()

6      2372
1      1855
3      1609
25      881
32      871
       ...
93        1
153       1
84        1
155       1
123       1
Name: constructorId, Length: 210, dtype: int64

In [60]:
data_prep.to_pickle("../data/data_prep1.pkl")